//mixin
@mixin ps($left:0,$top:0){//position
	left:$left+px;
	top:$top+px;
}

@mixin fs($size:12){//font-size
	font-size:$size+px;
}

@mixin tColor($color:#fff){//text-color
	color:$color;
}

@mixin bg($name:'line',$suffix:'jpg', $left:0, $top:0, $repeat: no-repeat){//bg
	background:url(../images/#{$name}.#{$suffix}) $left+px $top+px $repeat;
}

@mixin bp($left:0,$top:0){//bg
	background-position:$left+px $top+px;
}
@mixin bs($width:auto,$height:auto){//width & height
		width:$width+px;
		height:$height+px;
}