<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>QHB-10-红包玩法</title>
	<!-- <link rel="stylesheet" href="../../public/css/public.min.css">
	<link rel="stylesheet" href="../static/css/base_HD.min.css"> -->
	<link rel="stylesheet" href="../static/css/base_HD.mod.css">
</head>
<body >
	<div id="wrap" class="pa wrap bg-hbwf">
		<script id="nodeData" type="text/html">
			<div class="pa menu tr">
				{{each menuurl as v i}}
					<a href="{{v}}" class="menu-btn {{if i==0}}back{{else if i==1}}home{{else}}index{{/if}}"></a>
				{{/each}}
			</div>
			<a id="prev" href="javascript:;" class="pa pg sc lg middle jilu prev"></a>
			<div id="hbwf_bx" class="pa hbwf_bx"></div>
			<a id="next" href="javascript:;" class="pa pg sc lg middle jilu next"></a>
			<div id="pgnb" class="pa pgnb">
				<em class="pa curr"></em>/
				<em class="pa total"></em>
			</div>
		</script>
	</div>
	<script id="hbwf" type="html/text">
		{{each list as v i}}
			{{if i <= 1*row-1}}
				{{each v.text as tx}}
					<p>{{tx}}</p>
				{{/each}}
			{{/if}}
		{{/each}}
	</script>
	<!-- <script src="../../public/js/jquery.min.js"></script>
	<script src="../../public/js/jquery.x.min.js"></script>
	<script src="../../public/js/template.js"></script>
	<script src="../static/js/base_HD.js"></script>
	<script src="../static/js/base_HD_Ajax.js"></script> -->
	<script src="../static/js/base_HD.mod.js"></script>
	<script>
		var data = {
				menuurl: ['#', '#', '#'],//菜单按钮URL,按顺序输出数组,
				recommendimg: [
					{
						src: "../static/images/pic_1.jpg",
						url: "baidu.com"
					},
					{
						src: "../static/images/pic_2.jpg",
						url: "google.com"
					},
					{
						src: "../static/images/pic_3.jpg",
						url: "weibo.com"
					}
				],
				list:[
					{
						text: ['快快看过来，现在可以领取红包免费兑换专区咯~！', '在活动期间，您可以点击“领”按钮领取红包，领取成功后进入专区兑换页面，选择想要观看的专区直接兑换。您如果有领取成功但还没有使用的红包，也可以直接进入“我的红包”，马上使用它们。', '是不是很给力！但是要注意哦：一个红包只能兑换一个专区，并且红包是有使用期限的，要及时使用。另外，兑换的专区会马上生效，观看时间为30天。', '马上玩起来吧！']
					},
					
				],
			},
			html = template('nodeData',data);
		document.getElementById('wrap').innerHTML = html;
		$.pagination({
			pagnbId:"pgnb",
			templateId: "hbwf",//模板ID
			containerId: "hbwf_bx",//容器ID
			//size: 4,//显示数量
			//total: 15,//总记录数
			row: 1,//行数
			span:1,//每行个数
			//extra: 8,
			//other: true,
			items: data.list //数据
		});
	</script>
</body>
</html>